#sidebar {
  box-shadow: 0 2px 4px 2px rgb(143 142 142 / 25%), 0 2px 4px 2px rgb(143 142 142 / 25%);
  height: max-content;

  .form-check-input,
  .form-check-label,
  .dropdown {
    cursor: pointer;

    .dropdown-item {
      cursor: pointer;
    }
  }
}