.bg-gray {
  background-color: #eef0f2;
}

.bg-blue {
  background-color: #007cc3
}

.bg-pink {
  background-color: #f665a2;
}

.btn-pink {
  background-color: #f665a2!important;
  border-color: #f665a2!important;
  color: #fff!important;
}