@import '../../helpers/variables.scss';
@import '../../helpers/backgrounds.scss';

.card {
  box-shadow: 0 0 4px 2px rgb(68 68 68 / 25%);
}

.title {
  letter-spacing: .2px;
  font-weight: 600;
  line-height: 34px;
  font-size: 21px;
  color: $pink;
}

.detail {
  letter-spacing: .2px;
  font-weight: 400;
  line-height: 34px;
  font-size: 28px;
  color: $dark;
}

img.Product {
  width: 400px;
  height: 400px;
}