@import '../../../helpers/variables.scss';

#navbar {
  #dropdownAboutUs:hover {
    .dropdown-menu {
      display: block!important;
    }
  }

  .nav-item {
    .dropdown-item:focus, .dropdown-item:hover {
      background-color: #6cc3d5!important;
    }

    & > .nav-link {
      color: rgba(255,255,255,.8)!important;

      &:hover {
        font-weight: 500!important;
        color: #fff!important;
      }
    }
  }

  .buttonSignSection {
    margin-left: 15px;
  }

  @media screen and (max-width: 981px) {
    .buttonSignSection {
      margin-left: 0;
    } 
  }

  .dropdown-menu {
    background-color: $blue;

    @media screen and (max-width: 981px) {
      & {
        background-color: $white;
      }
    }
  }

  .dropdown-item {
    color: $white;

    &:not(:last-child) {
      border-bottom: 1px solid #c9ccce;
    }

    @media screen and (max-width: 981px) {
      & {
        color: $dark;
        opacity: 0.7;

        &:not(:last-child) {
          border-bottom-color: $darkBlue;
        }
      }
    }
  }
}